@media screen and (max-width:1024px){
	.logo img{
		width:76%;
	}
}
@media screen and (max-width:768px){
	.logo img{
		width:100%;
	}
	.content-content{
		max-width:50%;
	}
	.fourth{
		max-width:50%;
	}
}
@media screen and (max-width:640px){
	.logo img{
		width:110%;
	}
	.menu{
		width:100%;
	}
}
@media screen and (max-width:480px){
	.menu{
		width:100%;
	}
	.content-content{
		max-width:100%;
	}
	.fourth{
		max-width:100%;
	}
}
@media screen and (max-width:320px){
	.logo img{
		margin-bottom:10px;
		width:130%;
	}
	.content h2{
	font-size:40px;
	}
	.content{
		padding:20px;
	}
}