*{
	margin:0;
	padding:0;
}

/*-------------
	first 
--------------*/
#first{
	
}
.container{
	max-width:1170px;
	margin:0 auto;
	padding:20px 0;
	overflow:hidden;
}
.full-width{
	margin-bottom:50px;
}
.logo{
	width:30%;
}
.logo img{
	width:65%;
	float:left;
}
.menu{
	float:left;
	width:70%;
}
.menu ul{
	
}
.menu ul li{
	list-style:none;
	float:left;
	padding-left:10px;
	margin-bottom:25px;
}
.menu ul li a{
	font-size:20px;
	padding:10px 15px;
	text-decoration:none;
	color:red;
	background:yellow;
}
.menu ul li a:hover{
	background:red;
	color:white;
}

/*-------------
	second
--------------*/

#second{
/*	background:#cccccc; */
	background:url(img/b.jpg) no-repeat;
	background-size:cover;
	background-attachment:fized;
	background-position:center center;
}
.content{
	text-align:center;
	padding:100px;
	color:gold;
}
.content h2{
	font-size:60px;
}
.content p{
	font-size:25px;
}

/*-------------
	third 
--------------*/

#third{
	padding-bottom:50px;
}
.third-content{
	
}
.section-top{
	text-align:center;
	padding:40px 0;
}
.section-top h2{
	font-size:40px;
	color:gray;
	text-shadow:1px 2px 1px black;
}
.section-top p{
	font-size:20px;
	color:black;
}
.content-content{
	max-width:33%;
	float:left;
	text-align:center;
	margin-bottom:20px;
}
.content-content img{
	width:40%;
	height:130px;
	text-align:center;
}
.content-content h2{
	color:gray;
	text-shadow:1px 2px 1px black;
}

/*-------------
	fourth 
--------------*/

#fourth{
	padding:40px;
	background:url(img/c.jpg) no-repeat;
	background-size:cover;
	background-attachment:fixed;
	background-position:center center;
}
.fourth-top{
	text-align:center;
	color:#ffffff;
}
.fourth-top h2{
	font-size:40px;
}
.fourth-top p{
	font-size:20px;
	padding-bottom:30px;
}
.forth-content{
	
}
.fourth{
	max-width:25%;
	float:left;
	text-align:center;
	margin-bottom:20px;
}
.fourth img{
	width:60%;
	height:auto;
	border-radius:50%;
}
.fourth h2{
	color:#cccccc;
}
.fourth p{
	color:#cccccc;
}

/*-------------
	footer 
--------------*/

#footer{
	background:black;
	color:white;
	padding:20px;
	text-align:center;
}